body,
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 20px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1rem;
}

.login-left {
  border-right: 1px solid black;
}

.login-left > img {
  width: 250px;
  height: 250px;
  margin-right: 2.5rem;
}

.login-right {
  margin-left: 2.5rem;
}

.login-right-bottom > div > button {
  width: 100%;
  border-radius: 0px;
  margin-bottom: 1rem;
}

.login-right-bottom > div {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: 2.5%;
}

.header-right {
  margin-right: 2.5%;
}

.header-left > img {
  width: 100px;
  height: 100px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.profile > div > h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-buttons > div > button {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.add-header > h2 {
  font-size: 1.5rem;
}

.add-header {
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.add-form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.add-form > div > div {
  width: 30%;
}

.add-form > div > input {
  width: 90%;
}

.add-buttons > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-buttons > div > button {
  width: 100%;
  border-radius: 0px;
}

.home {
  margin-top: 2.5rem;
  margin-left: 15%;
  margin-right: 15%;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 2.5rem;
}

.home-header > div > p {
  font-size: 1.5rem;
}

.home-header > div > button {
  border-radius: 0px !important;
  margin-bottom: 1rem;
}

.single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 1rem;
}

.single-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.single-right {
  margin-right: 1rem;
  text-align: right;
}

.single-left > img {
  width: 40%;
}

.participants {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  padding: 1rem;
  border-right: 1px solid black;
}

td:last-child {
  border-right: none;
}

table {
  margin-bottom: 2rem;
}

.participants-form {
  display: flex;
}

.participants-form > button {
  border-radius: 0px;
}

.bracket > h2 {
  text-align: center;
}

.tournament-header {
  text-align: center;
  margin-top: 2.5rem;
}

.tournament-header-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.tournament-bracket {
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  gap: 2.5rem;
}

.bracket-single_0,
.bracket-single_1,
.bracket-single_2,
.bracket-single_3,
.bracket-single_4,
.bracket-single_5,
.bracket-single_6,
.bracket-single_7,
.bracket-single_8,
.bracket-single_9,
.bracket-single_10,
.bracket-single_11,
.bracket-single_12,
.bracket-single_13,
.bracket-single_14,
.bracket-single_15,
.bracket-single_16,
.bracket-single_17,
.bracket-single_18,
.bracket-single_19,
.bracket-single_20,
.bracket-single_21,
.bracket-single_22,
.bracket-single_23,
.bracket-single_24,
.bracket-single_25,
.bracket-single_26,
.bracket-single_27,
.bracket-single_28,
.bracket-single_29,
.bracket-single_30,
.bracket-single_31,
.bracket-single_32,
.bracket-single_33,
.bracket-single_34,
.bracket-single_35,
.bracket-single_36,
.bracket-single_37,
.bracket-single_38,
.bracket-single_39,
.bracket-single_40,
.bracket-single_41,
.bracket-single_42,
.bracket-single_43,
.bracket-single_44,
.bracket-single_45,
.bracket-single_46,
.bracket-single_47,
.bracket-single_48,
.bracket-single_49,
.bracket-single_50,
.bracket-single_51,
.bracket-single_52,
.bracket-single_53,
.bracket-single_54,
.bracket-single_55,
.bracket-single_56,
.bracket-single_57,
.bracket-single_58,
.bracket-single_59,
.bracket-single_60,
.bracket-single_61,
.bracket-single_62,
.bracket-single_63 {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.bracket-single_1,
.bracket-single_3,
.bracket-single_5,
.bracket-single_7,
.bracket-single_9,
.bracket-single_11,
.bracket-single_13,
.bracket-single_15,
.bracket-single_17,
.bracket-single_19,
.bracket-single_21,
.bracket-single_23,
.bracket-single_25,
.bracket-single_27,
.bracket-single_29,
.bracket-single_31,
.bracket-single_33,
.bracket-single_35,
.bracket-single_37,
.bracket-single_39,
.bracket-single_41,
.bracket-single_43,
.bracket-single_45,
.bracket-single_47,
.bracket-single_49,
.bracket-single_51,
.bracket-single_53,
.bracket-single_55,
.bracket-single_57,
.bracket-single_59,
.bracket-single_61,
.bracket-single_63 {
  margin-bottom: 1.5rem;
}
